/* Montserrat-latin-800-extra-bold*/
@font-face {
  font-display: optional;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('./files/montserrat-latin-800-normal.woff2') format('woff2');
}
