/* Montserrat-latin-900-black*/
@font-face {
  font-display: optional;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('./files/montserrat-latin-900-normal.woff2') format('woff2');
}
