/* Raleway-latin-600-semi-bold*/
@font-face {
  font-display: optional;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('./files/raleway-latin-700-normal.woff2') format('woff2');
}
